extends layout/frontend
block body
  // div#summary
  //   .ui-grid
  //     .ui-width-2-3
  //       .ui-grid
  //         .uk-width-1-2
  //           WIN! 30
  //         .uk-width-1-2
  //           LOSE 20
  //       .ui-grid
  //         .uk-width-1-1
  //           60.0%
  //     .ui-width-1-3
  //       avg 5.0k
  //       avg 2.0d
  //       avg 1.2

  div#recent_result
    h2 latest result
    .ui-grid
      モズク農園
      ナワバリバトル
      WIN
      60% 40%
    .ui-grid
      .uk-width-1-2
        S+ weapon   ぞうさん(sort)      5k(2) 3d
        S+ てぃけぽまる
        S+ チャンコーリー
        S+ たきぽまる
      .uk-width-1-2
        ほのお
        ひざ
        take
        ひげなっくる
    div
      p 2017-12-01 12:00:00

  // div#result_hisotry
  //   ul
  //     li
  //     li
  //     li
  //     li
  //     li
  //     li.ui-button
