extends layout/frontend
block body
    h1= 'index'
    div.uk-alert.uk-alert-success
        p= get_flashed_messages()
    div
        p
            = current_user
        p
            = current_user.id
        p
            = current_user.screen_name
        p
            = current_user.created_at
        p
            = current_user.updated_at
    div
      a.uk-button.uk-button-primary(href="{{ url_for('OauthView:twitter') }}")
        | twitter login
      a.uk-button.uk-button-primary(href="{{ url_for('SettingView:index') }}")
        | setting
      a.uk-button.uk-button-primary(href="{{ url_for('TopView:logout') }}")
        | logout
