extends layout/frontend
block body
    h1= 'index'
    div
        if current_user.is_authenticated
            p ログイン中
            p
                = current_user.screen_name
            div
              a.uk-button.uk-button-primary(href="{{ url_for('SettingView:index') }}")
                | setting
              a.uk-button.uk-button-primary(href="{{ url_for('TopView:logout') }}")
                | logout
        else
            p 未ログイン
            div
                a.uk-button.uk-button-primary(href="{{ url_for('OauthView:twitter') }}")
                    | twitter login
