@font-face
  font-family Splatfont2
  src url('/static/font/Splatfont2.ttf')

@font-face
  font-family ikamodoki
  src url('/static/font/ikamodoki1_0.ttf')

@font-face
  font-family Paintball
  src url('/static/font/Paintball_Beta_3.ttf')

body
  font-family Splatfont2

h1
  color gray

.text-ikamodoki
  font-family ikamodoki, Paintball

.color-lightgray
  color lightgray

.color-freshgreen
  color #33cc33

.color-pinkred
  color #ff0066
